
span {
    color: #495057;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

body {

    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 1rem;
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #0A3871;
}

textarea {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-align-last: center;
    white-space: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    width: 100%;
}

textarea:focus {
    outline: 1px solid #0A3871;;
  }

@media (min-width: 800px) and (max-width: 1920px) {
    .main {
        display: grid;
        margin: 10px auto;
        /*
        max-width: 1332px;
        */min-height: 100vh;
        padding: 0px;

        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 
            70px 
            0.5fr 
            80px 
            80px 
            80px;
        grid-template-areas:
            "titulo     titulo      titulo      resultado"
            "entrada    entrada     entrada     resultado"
            "spani      spani       spani       resultado"
            "botones    botones     botones     resultado"
            "creditos   creditos    creditos    resultado";
    }

    textarea:focus {
        outline: 1px solid #0A3871;;
      }
    .titulo {
        grid-area: titulo;
        padding: 0px;
        margin: 0px;
        align-self: center;
    }
    .btn-blue {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 24px;
        gap: 8px;

        width: 328px;
        height: 67px;
        background-color: #0A3871;
        color: white;
        border-radius: 24px;
        border: 1px solid #000000;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        margin: 4px 2px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .btn-blue:hover {
       font-weight: 400;
        opacity: 0.7;
    }


    .btn-light {

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 24px;
        gap: 8px;

        width: 328px;
        height: 67px;
        background-color: #d8dfe8;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        margin: 4px 2px;

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .btn-light:hover{
        font-weight: 400;
        opacity: 0.7;
    }

    .entrada {
        grid-area: entrada;
        align-self: center;
    }

    .resultado {
        grid-area: resultado;
        background-color: white;
        border-radius: 32px;
        margin: 8px;
        padding: 20px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    .pnull {
        display: none;
    }

    .resultado #p1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #343A40;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .resultado #p2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #495057;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .psalida {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #495057;
        margin-top: 50%;
 
    }
    .spani {
        grid-area: spani;
        align-self: end;
    }

    .botones {
        grid-area: botones;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 5px;
        padding: 0px;
        gap: 10px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

    .creditos{
        grid-area: creditos;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        font-size: 8px;
        color: #000000;
        text-align: center;
    }

}

@media (min-width: 200px) and (max-width: 800px) {
    .main {
        max-width: max-content;
        max-height: max-content;
        margin: 0 auto;

        display: grid;
        font-family: 'Inter', sans-serif;
        color: white;

        grid-template-columns: 100%;
        grid-template-rows:
            80px 
            250px 
            20px 
            200px 
            1fr 
            100px;

        grid-template-areas:
            "titulo"
            "entrada"
            "spani"
            "botones"
            "resultado"
            "creditos";
    }

    .resultado img {
        width: 270px;
        display: none;
    }

    .resultado #p1 {
        font-style: normal;
        margin: 0;
        padding: 5px;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: #343A40;

    }

    .resultado #p2 {
        font-style: normal;
        margin: 0;
        padding: 5px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #495057;

    }

    .titulo {
        grid-area: titulo;
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .resultado {
        grid-area: resultado;
        background-color: white;
        border-radius: 32px;
        margin: 8px;
        padding: 20px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        text-align: center;
        justify-items: center;
        align-items: center;
    }

    .botones {
        grid-area: botones;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 8px;
        padding: 0px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

    .btn-blue {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 24px;
        gap: 8px;

        width: 328px;
        height: 67px;
        background-color: #0A3871;
        color: white;
        border-radius: 24px;
        border: 1px solid #000000;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        margin: 4px 2px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .btn-light {

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 24px;
        gap: 8px;

        width: 328px;
        height: 67px;
        background-color: #d8dfe8;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        margin: 4px 2px;

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    span{
        font-size: 12px;
    }
    .creditos{
        grid-area: creditos;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        font-size: 8px;
        color: #000000;
        text-align: center;
    }
    textarea:focus {
        outline: 1px solid #0A3871;;
      }
}